<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>thotsawat.index</title>
    <!--Reference Google Fonts-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200;300&family=Inconsolata&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
        </style>

    <link href="profile.css" rel="stylesheet">
</head>
<body>
    <h1>Profile</h1>

    <div class="table-menu">
    <table>
        <tr>
            <td>
                <h3><a href="/"class="myButton">หน้าแรก</a></h3>
            </td>
            <td>
                <h3><a href="/additem" class="myButton">additem</a></h3>
            </td>
            <td>
                <h3><a href="/delete"class="myButton">delete</a></h3>
            </td>
            <td>
                <h3><a href="/profile"class="myButton">Profile</a></h3>
            </td>
        </tr>
    </table> 
    </div>
    <div class="top-container">
        <h2>ทศวรรษ เชิงสะอาด</h2> 
        <h2>1640900484</h2> 
        <h2>ชื่อเล่น เบค (Beck)</h2>    
        </div>
        <hr>
        <img class="logo">
                <p>Email: <a href="mailto: beckgameronline@gmail.com">beckgameronline@gmail.com</a></p>
            </th>
            <p>อ้างอิง: <a href="https://www.glurgeek.com/education/backendexpressmysqlep2/">https://www.glurgeek.com/education/backendexpressmysqlep2/</a></p>  
        </tr>
    </table>
    </div>
    <hr>
    <p class="p-Footer">© 2021 Beck</p>
</body>
</html>