*{
    font-family: 'Inconsolata', monospace;
    font-family: 'Mitr', sans-serif;
}
body{
    background-image: url(backgroundnew.jpg);
    background-size: 150%;
    background-position: center;
}
.manu {
    width: 40%
}
button
{
    border-radius:5px;
    cursor:pointer;
}
.menu1 {
    text-align: center;
}
.myButton {
	box-shadow:inset 0px 1px 0px -2px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:10px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
